.content-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.content-text {
    font-family: 'Poppins', 'sans-serif';
    font: 400;
}

/* Texts-on-top */

.top-texts-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bigger-texts {
    color: lightslategray;
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}


/* Texts-on-top-ends */